:root {
    --color-background-header-footer: #1e3a8a;
    --color-menu-text: #0f172a;
    --color-text: #64748b;
    --color-background-menu: #f8fafc;
    --color-background-button: #f97316;
    --color-button-reading-status: #22c55e;
    --color-button-reading-status: #facc15;
    --color-button-reading-status: #38bdf8;
}

@font-face {
    font-family: "Inter";
    src: url("/public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Merriweather";
    src: url("/public/fonts/Merriweather/Merriweather-VariableFont_opsz\,wdth\,wght.ttf");
    font-weight: 400;
}

/* ======== PAGE HOME ======= */

body {
    min-height: 100vh;
    background: var(--color-background-header-footer);
    font-family: "Inter", sans-serif;
}

/* ===== MODE ACCESSIBILIY ===== */

body.accessibility main {
    place-items: start center;
    padding-top: 4rem;
}

.logo {
    display: grid;
    place-items: center;
    min-height: 70vh;
}

.slogan {
    color: var(--color-background-menu);
    font-family: "Merriweather" sans-serif;
    font-style: italic;
    font-size: x-large;
    font-weight: bold;
    gap: 2rem;
}

.button {
    display: grid;
    place-items: center;
}

.welcome {
    border: 1px solid var(--color-background-menu);
    color: var(--color-background-menu);
    border-radius: 12px;
    padding: 0.75rem 2rem;
    background: var(--color-background-header-footer);
}

.welcome a {
    text-decoration: none;
    color: inherit;
}

.welcome:hover {
    background: var(--color-background-button);
    color: var(--color-background-menu);
}

.accessibility-toggle {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 9999;

    background: #f8fafc;
    border: none;
    border-radius: 12px;
    padding: 0.75rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}



