/* =========================
    CAROUSEL - BASE
========================= */

.carousel {
    overflow-x: auto;
    padding-bottom: 1rem; /* espace pour scrollbar */
}

.carousel-track {
    display: flex;
    gap: 2rem;
    scroll-snap-type: x mandatory;
}

.carousel-track > * {
    scroll-snap-align: start;
}

/* Cartes par défaut (mobile) */

.carousel .book-card {
    flex: 0 0 calc((100% - 2rem) / 2);
}

.carousel .author-card {
    flex: 0 0 70%;
}

.carousel::-webkit-scrollbar {
    height: 0.4rem;
}

.carousel::-webkit-scrollbar-thumb {
    background: var(--color-background-header-footer);
    border-radius: 1rem;
}

/* ======================= MEDIA QUERIES ====================== */

@media (min-width: 48rem) {

    .carousel .book-card {
        flex: 0 0 calc((100% - 6rem) / 4);
    }

    .carousel .author-card {
        flex: 0 0 calc((100% - 6rem) / 4);
    }

}

@media (min-width: 64rem) {

    .carousel {
        padding-left: 1rem;
    }

    .carousel .book-card {
        flex: 0 0 calc((100% - 10rem) / 6);
    }

    .carousel .author-card {
        flex: 0 0 calc((100% - 4rem) / 6);
    }

}




