<main class="index">

        <img src="assets/logo/logo.svg" alt="Logo Lectio" class="index-logo"/>

        <p class="index-slogan">" Suivez, organisez, découvrez vos lectures "</p>
        

        <a href="/home" class="index-button">Bienvenue</a>
        
    </main>
