<main class="legal-page">

    <%- include("../partials/breadcrumb") %>

        <h1>Mentions légales</h1>

        <section>
            <h2>Éditeur du site</h2>
            <p>
                Le site <strong>Lectio</strong> est un projet réalisé dans le cadre d’un projet académique.
            </p>

            <p>
                Responsables du projet :
            </p>

            <ul>
                <li>Léotet Morgan</li>
            </ul>

            <p>
                Email de contact : contact@lectio.fr
            </p>

        </section>

        <section>
            <h2>Hébergement</h2>
            <p>
                Le site Lectio est hébergé par :
            </p>

            <p>
                Render<br>
                Plateforme d’hébergement cloud<br>
                Site web : https://render.com
            </p>
        </section>

        <section>
            <h2>Propriété intellectuelle</h2>
            <p>
                L’ensemble des contenus présents sur le site Lectio
                (textes, éléments graphiques, logo, interface et structure)
                sont protégés par le droit de la propriété intellectuelle.
            </p>

            <p>
                Toute reproduction, modification ou distribution
                sans autorisation préalable est interdite.
            </p>
        </section>

        <section>
            <h2>Données personnelles</h2>
            <p>
                Le site Lectio ne collecte pas de données personnelles
                à des fins commerciales.
            </p>

            <p>
                Certaines informations peuvent être utilisées uniquement
                pour le bon fonctionnement du site et l'amélioration
                de l'expérience utilisateur.
            </p>
        </section>

        <section>
            <h2>Limitation de responsabilité</h2>
            <p>
                Les informations diffusées sur le site Lectio
                sont fournies à titre informatif.
            </p>

            <p>
                Les responsables du site ne peuvent être tenus responsables
                des éventuelles erreurs, omissions ou résultats obtenus
                suite à l'utilisation de ces informations.
            </p>
        </section>
</main>