.book-wrapper {
    max-width: 70rem;
    margin: 0 auto 4rem;
}
.book-container {
    display: flex;
    gap: 3rem;
    padding: 3rem;
    background: var(--color-background-menu);
    border-radius: 1.5rem;
}
.book-cover img {
    width: 20rem;
    border-radius: 1rem;
}
.book-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.book-info h1 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: var(--color-text);
}
.book-info p {
    margin-bottom: 0.75rem;
    font-size: 0.95rem;
    color: var(--color-text);
}
.book-summary {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.book-summary p {
    max-width: 55rem;
    padding: 2rem;
    background: var(--color-background-menu);
    border-radius: 1rem;
    line-height: 1.6;
    font-size: 0.95rem;
    color: var(--color-text);
}