
.index-page {
    min-height: 100vh;
    background: var(--color-background-header-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    padding: 2rem;
}

.index-logo {
    width: 15rem;
}

.index-slogan {
    color: var(--color-background-menu);
    font-family: "Merriweather", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.25rem;
    max-width: 22rem;
}

.index-button {
    border: 1px solid var(--color-background-menu);
    color: var(--color-background-menu);
    padding: 0.75rem 2rem;
    border-radius: 0.75rem;
    text-decoration: none;
    background: transparent;
    transition: 0.3s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.index-button:hover {
    background: var(--color-background-button);
}

.accessibility-toggle {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background: #f8fafc;
    border: none;
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
}
.accessibility .index-logo {
    width: 20rem;
}

.accessibility .index-slogan {
    font-size: 1.6rem;
  line-height: 1.6;
}

.accessibility .index-button {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
}

.accessibility .index {
    gap: 4rem;
}



/* ========================== MEDIA QUERIES =========================== */

/* =============== TABLETTE ========== */
@media (min-width: 48rem) {
    .accessibility-toggle {
        left: auto;
        transform: none;
        right: 2rem;
    }
}