:root {
    --color-background-header-footer: #1e3a8a;
    --color-menu-text: #0f172a;
    --color-text: #64748b;
    --color-background-menu: #f8fafc;
    --color-background-button: #f97316;
    --color-button-reading-status-lu: #22c55e;
    --color-button-reading-status-encours: #facc15;
    --color-button-reading-status-alire: #38bdf8;
}