<!-- =========================== FOOTER ========================= -->
    <footer class="footer">
        <span>LECTIO ® 2026</span>
        <a href="/mentions-legales">Mentions Légales</a>
        <a href="/accessibilite">Mode accessibilité</a>
    </footer>
