<!-- =========================== FOOTER ========================= -->
    <footer class="footer">
        <span>LECTIO ® 2026</span>
        <a href="mentions.html">Mentions Légales</a>
        <a href="accesibility.html">Mode accessibilité</a>
    </footer>
