<!-- =========================== HEADER ========================= -->
<header class="site-header">
    <div class="header-container">

        <!-- Icône user (mobile uniquement) -->
        <% if (user) { %>

            <a href="/api/auth/logout" class="mobile-user">
                Déconnexion
            </a>

        <% } else { %>

        <button class="mobile-user">👤</button>

        <% } %>

        <!-- Logo -->
        <a href="/home" class="logo">
            <img src="/assets/logo/logo.svg" alt="Logo Lectio">
        </a>

        <!-- Recherche -->
        <form class="search-bar">
            <input type="text" placeholder="Rechercher par livre, auteur, genre">
            <button type="submit">🔍</button>
        </form>

        <!-- Zone utilisateur -->
        <div class="user-area">

            <div class="header-actions">

                <% if (user) { %>

                <div class="user-menu">

                    <button class="user-button">
                        <%= user.firstname %>
                    </button>

                    </div>

                </div>

                <% } else { %>

                    <button class="login-btn">Connexion</button>

                <% } %>

                <button class="mobile-search">🔍</button>

                <button class="accessibility-toggle" aria-label="Mode accessibilité"><img src="/assets/icons/handicap.svg"></button>

            </div>

        </div>

    </div>
</header>