<!-- =========================== HEADER ========================= -->
<header class="site-header">
    <div class="header-container">

        <!-- Icône user (mobile uniquement) -->
        <button class="mobile-user">👤</button>

        <!-- Logo -->
        <a href="../index.html" class="logo">
        <img src="../assets/logo/logo.svg" alt="Logo Lectio">
        </a>

        <!-- Recherche -->
        <form class="search-bar">
            <input type="text" placeholder="Rechercher par livre, auteur, genre">
            <button type="submit">🔍</button>
        </form>

        <!-- Zone utilisateur -->
        <div class="user-area">

        <!-- BLOC A DROITE -->
        <div class="header-actions"></div>
            <span class="welcome-text"></span>
            <button class="login-btn">Connexion</button>
            <button class="mobile-search">🔍</button>
            <button class="accessibility-toggle" aria-label="Mode accessibilité">
                <img src="../assets/icons/handicap.svg">
            </button>
        </div>
    </div>
</header>