<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || "Lectio" %></title>
    <link rel="stylesheet" href="/css/lectio.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <%- body -%>
    </main>
    <%- include('../partials/footer') %>

    <script type="module" src="/js/lectio.js"></script>
</body>

</html>